footer {
  padding: 45px 0 35px;

  a:hover {
    opacity: 0.8;
  }

  a:link,
  a:visited {
    color: $color-text-headings-links;
  }
}

.footer-blocks__container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1200px;
  margin: auto;
  padding: 0 45px;

  .footer-blocks__item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 1.8em 0 0;

    &:last-child {
      padding: 0;
    }

    &__heading {
      font-weight: bold;
      font-size: body-mod(10);
      margin: 0 0 25px;
    }

    &.footer-blocks--menu {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        padding: 15px 0;
      }

      li:last-of-type {
        padding-right: 0;
      }
    }

    /* stylelint-disable-next-line selector-max-class */
    &.footer-blocks--newsletter_signup {
      &.footer-blocks--count-3 {
        flex-grow: 2;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;

        * {
          display: block;
          padding: 0.5rem 0;
          margin: 0;
          border: none;
          line-height: 1.5rem;
          font-size: 1rem;
          color: $color-labels-primary;
          font-family: $font-headings-buttons;
          font-weight: 400;
        }

        input {
          width: 240px;
          flex-grow: 9999;
          padding-left: 1.2rem;
          border: 1px solid $color-form-borders;
        }

        button {
          width: 8rem;
          flex-grow: 1;
          text-align: center;
          background-color: $color-buttons-primary;
        }
      }
    }
  }
}

footer hr {
  border-width: 1px 0 0;
  border-top-color: rgb(220, 220, 220);
  opacity: 0.33;
}

.sub-footer {
  padding: 0 45px;

  &__social {
    list-style: none;
    margin: 1rem 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 1.5rem 0 0;

      a {
        width: 25px;
        height: 25px;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@include media-query($small) {
  footer {
    padding-bottom: 55px;

    hr:first-of-type {
      margin-top: 3rem;
    }
  }

  .footer-blocks__container {
    display: block;

    > div.footer-blocks__item {
      width: 100%;
      margin-bottom: 3rem;
    }

    > div p:first-child {
      margin-bottom: 12.5px;
    }
  }

  .sub-footer__social {
    margin: 1rem auto 0;
  }
}

footer hr {
  margin-top: 5rem;
  border-color: $color-page-borders;
}
