.site-footer__container {
  padding: 45px 0 35px;
  border: 3px dashed black;
  background-color: cyan;
}

.site-footer {
  padding: 0 90px;
  border: 2px solid orange;
}

.site-footer__hr {
  margin: 45px 0 20px;
}

.site-footer__footer {
  padding: 0 90px;
}
