$first-and-third-header-div-width: 220px;

header {
  transition: margin 450ms cubic-bezier(0.29, 0.63, 0.44, 1), margin-bottom 450ms cubic-bezier(0.29, 0.63, 0.44, 1);
}

.header__outer-container {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  border-bottom: 1px solid $color-page-borders;
}

.header__announcement {
  display: block;
  width: 100%;

  &__content {
    display: inherit;
    font-family: $font-body;
    font-size: $font-body-size;
    font-weight: $font-body-weight;
    line-height: 1.5em;
    text-align: center;
    padding: 10px 55px;
  }
}

.header-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  min-height: 80px;
  padding: 0 55px;
  border: 1px solid $color-page-borders;
  border-width: 1px 0;

  h1 {
    margin: 15px 0;
  }

  a {
    padding-left: 10px;
    padding-right: 10px;

    :hover {
      color: darken(#3d4246, 15%);

      > svg {
        fill: darken(#3d4246, 15%);
      }
    }
  }

  &__name {
    justify-self: start;
    align-self: center;
    width: $first-and-third-header-div-width;
    font-family: $font-body;
    letter-spacing: 2px;
    line-height: 24px;

    @include media-query($medium-up) {
      h6,
      a {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding: 0;
      }
    }
  }

  &__site-nav--desktop,
  &__site-nav--mobile {
    span {
      padding: 0;
      margin: 0;
    }

    a:hover span,
    .link--active a span {
      border-bottom: 1px solid $color-text-headings-links;
    }
  }

  &__site-nav--desktop {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-self: center;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }

  &__button-group {
    display: flex;
    justify-content: flex-end;
    flex-flow: nowrap;
    width: $first-and-third-header-div-width;

    a {
      margin: 0;
      padding: 0 0.8em;

      svg {
        fill: $color-text-headings-links;
      }
    }

    & > &__cart {
      display: flex;
      flex-flow: row nowrap;
      padding-right: 0;
    }

    &__cart__count {
      position: relative;
      bottom: 9px;
      right: 8px;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: $color-buttons-primary;
      height: 16px;
      width: fit-content;
      min-width: 16px;
      border-radius: 50%;

      > div {
        position: relative;
        top: 2px;
        color: $color-labels-primary;
        font-size: calc(11em / 16);
      }
    }
  }

  &__site-nav--mobile-access {
    display: none;
    height: 27px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    &:hover {
      cursor: pointer;
    }

    a {
      display: block;
      height: auto;

      span:first-child {
        display: inline-block;

        svg {
          width: 22px;
          height: 23px;
        }
      }

      span:last-child {
        display: none;

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    &.active {
      span:first-child {
        display: none;
      }

      span:last-child {
        display: inline-block;
      }
    }
  }
}

.site-nav--mobile {

  &--visible,
  &--hidden {
    position: relative;
    display: inline-block;
    height: 0;
    transition: all 450ms cubic-bezier(0.29, 0.63, 0.44, 1);
    overflow: hidden;

    ul {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
    }

    li {
      display: block;

      &:not(:last-child) {
        border-width: 0 0 1px;
        border-style: solid;
      }
    }

    a {
      position: relative;
      display: block;
      width: 100%;
      padding: 18px 30px;
    }
  }

  &--hidden {
    position: absolute;
    top: -9999px;
    height: auto;
  }

  &--visible.active {
    height: 109px;
  }
}

@include media-query($small) {
  .header-main {
    height: auto;
    min-height: 52px;
    padding: 0 22px;

    &__name {
      width: auto;
      height: auto;
      max-width: none;
      flex-grow: 1;
    }

    &__site-nav--desktop {
      display: none;
    }

    &__button-group {
      width: auto;
      height: auto;
      max-width: none;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;

      &.header-main__button-group .header-main__button-group__cart {
        padding-right: 10px;
      }
    }

    &__site-nav--mobile-access {
      display: block;
    }
  }
}
