// Text colors
$color-text-headings-links: var(--color-text-headings-links);
$color-text-body: var(--color-text-body);
$color-text-sale-price: var(--color-text-sale-price);

// Button colors
$color-buttons-primary: var(--color-buttons-primary);
$color-labels-primary: var(--color-labels-primary);
$color-labels-secondary: var(--color-labels-secondary);
$color-borders: var(--color-labels-secondary);

// Form colors
$color-form-text: var(--color-form-text);
$color-form-borders: var(--color-form-borders);
$color-form-bg: var(--color-form-bg);

// Image overlay colors and opacity
$color-image-overlay-text: var(--color-image-overlay-text);
$color-image-overlay-bg: var(--color-image-overlay-bg);
$opacity-image-overlay: var(--opacity-image-overlay);

// Page colors
$color-page-borders: var(--color-page-borders);
$color-page-bg: var(--color-page-bg);

// Typography
$font-headings-buttons: var(--font-headings-buttons);
$font-size-headings: var(--font-size-headings);
$font-body: var(--font-body);
$font-body-style: var(--font-body-style);
$font-body-weight: var(--font-body-weight);
$font-size-body: var(--font-size-body);
$font-weight-products-bold: var(--font-weight-products-bold);
$font-body-bold-weight: var(--font-body-bold-weight);

// =============================================================================
// EVERYTHING BELOW HERE CAME BY DEFAULT AND CAN STAY
// =============================================================================

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: "small";
$medium: "medium";
$medium-down: "medium-down";
$medium-up: "medium-up";
$large: "large";
$large-down: "large-down";
$large-up: "large-up";
$widescreen: "widescreen";

$breakpoints: (
  $small "(max-width: #{$grid-medium - 1})",
  $medium "(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})",
  $medium-down "(max-width: #{$grid-large - 1})",
  $medium-up "(min-width: #{$grid-medium})",
  $large "(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})",
  $large-down "(max-width: #{$grid-widescreen - 1})",
  $large-up "(min-width: #{$grid-large})",
  $widescreen "(min-width: #{$grid-widescreen})"
);
